@import "../../utilities/fonts";
@import "../../utilities/variables";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";

.about-card {
  @include flex-center;
  flex-direction: column;

  &__wrapper {
    width: 70vw;
    border: solid 2px $border-box1;
    border-radius: 10px;
    padding: 25px;
  }

  &__title {
    font-size: clamp(2rem, 5vw, 8rem);
    text-align: center;
    @include adaptTo("not-mobile") {
      font-size: clamp(3rem, 2vw, 6rem);
    }
  }

  &__text {
    font-size: clamp(1rem, 2vw, 4rem);
    line-height: 2.5rem;
    @include adaptTo("not-mobile") {
      font-size: clamp(2rem, 1.5vw, 3rem);
    }
  }
}
