@import "../../utilities/fonts";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";
@import "../../utilities/effect-mixins";

.about-card {
  @include flex-center;
  flex-direction: column;
  margin: 25px;
  width: 85%;
  overflow: hidden;

  @include adaptTo("not-mobile") {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: visible;
    max-width: 50%;
    margin-left: 50px;
    margin-top: 50px;
  }

  &__header {
    @include font-size-subheader;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 25px;

    @include adaptTo("not-mobile") {
      @include font-size-subheader;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 50px;
      width: 100%;
    }
  }

  &__text {
    @include font-size-paragraph;
    line-height: 2.5rem;
    font-weight: 300;

    &--bold {
      font-weight: 400;
      text-decoration: none;
    }

    @include adaptTo("not-mobile") {
      line-height: 2.5rem;
    }
  }
}

// Dark Theme
.dark {
  @import "../../utilities/variables-dark";

  .about-card {
    @include adaptTo("not-mobile") {
      @include spriteEffect($border-sprite);
    }

    &__header {
      color: $font-secondary;

      @include adaptTo("not-mobile") {
        border-bottom: solid 1px $border-box1;

      }
    }

    &__text {
      color: $font-secondary;

      &--bold {
        color: $font-link;
      }
    }
  }
}

// Light Theme
.light {
  @import "../../utilities/variables-light";

  .about-card {
    @include adaptTo("not-mobile") {
      @include spriteEffect($border-sprite);
    }

    &__header {
      color: $font-secondary;

      @include adaptTo("not-mobile") {
        border-bottom: solid 1px $border-box1;

      }
    }

    &__text {
      color: $font-secondary;

      &--bold {
        color: $font-link;
      }
    }
  }
}