@import "../../utilities/fonts";
@import "../../utilities/variables";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";

.about-card {
  @include flex-center;
  flex-direction: column;

  &__title {
    @include font-size-subheader;
    text-align: left;
    @include adaptTo("not-mobile") {
      font-size: clamp(2rem, 2vw, 4rem);
    }
  }

  &__text {
    @include font-size-paragraph;
    line-height: 1.5rem;
    color: $font-secondary;
    @include adaptTo("not-mobile") {
      font-size: clamp(2rem, 1.5vw, 3rem);
    }
  }
}
