@import "../../utilities/variables";
@import "../../utilities/variables";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";

.techstack {
  margin: 50px 0 50px 0;

  &__wrapper {
    @include flex-center;
  }

  &__header {
    text-align: left;
    width: 100%;
    margin: 0 0 25px 0;
    @include font-size-subheader;
    text-transform: uppercase;

    @include adaptTo("not-mobile") {
      font-size: clamp(3rem, 2vw, 6rem);
    }
  }

  &__icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    @include adaptTo("not-mobile") {
      @include flex-center;
      gap: 25px;
      flex-wrap: wrap;
      width: 100%;
    }
    &-logo {
      width: clamp(50px, 60px, 80px);
      @include adaptTo("not-mobile") {
        width: clamp(60px, 75px, 100px);
      }
    }
  }
}
