@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";
@import "../../utilities/effect-mixins";

.skills {
  margin: 25px;
  width: 100%;

  @include adaptTo("not-mobile") {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    margin-top: 50px;
    margin-left: 50px;
    width: 100%;
  }
}

.stack {
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    @include adaptTo("not-mobile") {
      margin-bottom: 75px;
      align-items: flex-start;
    }
  }

  &__header {
    @include font-size-subheader;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 25px;
    width: 100%;
  }

  &__icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    @include adaptTo("not-mobile") {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    &-logo {
      width: 40px;

      @include adaptTo("not-mobile") {
        width: 50px;
      }
    }

    @include adaptTo("not-mobile") {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.languages {
  &__section {
    margin-bottom: 50px;
  }

  &__header {
    @include font-size-subheader;
    text-transform: uppercase;
    margin: 0
  }

  &__proficiency {
    @include font-size-paragraph;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 50px;
  }

  &__spoken {
    @include font-size-paragraph;
    font-weight: 500;
  }
}

.education {
  &__section {
    @include adaptTo("not-mobile") {
      min-width: 60%;
      max-width: 75%;
      margin-left: 50px;
    }
  }

  &__title {
    margin: 0;
    @include font-size-subheader;
  }

  &__subheader {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;

    @include adaptTo("not-mobile") {
      justify-content: space-between;
    }
  }

  &__wrapper {
    margin-bottom: 25px;

    @include adaptTo("not-mobile") {
      margin-bottom: 50px;
    }
  }

  &__dates {
    @include font-size-paragraph;
    margin: 0;
  }

  &__description {
    opacity: 1;
    @include font-size-paragraph;
    margin: 10px 0;
  }
}

.dark {
  @import "../../utilities/variables-dark";

  .stack {
    &__section {
      @include adaptTo("not-mobile") {
        @include spriteEffect($border-sprite);
      }
    }

    &__header {
      color: $font-main;
      border-bottom: solid 1px $border-box1;
    }
  }

  .education {
    &__section {
      @include adaptTo("not-mobile") {
        @include spriteEffect($border-sprite);
      }
    }
    &__dates {
      color: $font-date;

    }

    &__description {
      color: $font-secondary;
    }
  }

  .languages {
    &__section {
      @include adaptTo("not-mobile") {
        @include spriteEffect($border-sprite);
      }
    }
  }
}

.light {
  @import "../../utilities/variables-light";

  .stack {
    &__section {
      @include adaptTo("not-mobile") {
        @include spriteEffect($border-sprite);
      }
    }

    &__header {
      color: $font-main;
      border-bottom: solid 1px $border-box1;
    }
  }

  .education {
    &__section {
      @include adaptTo("not-mobile") {
        @include spriteEffect($border-sprite);
      }
    }
    &__dates {
      color: $font-date;

    }

    &__description {
      color: $font-secondary;
    }
  }

  .languages {
    &__section {
      @include adaptTo("not-mobile") {
        @include spriteEffect($border-sprite);
      }
    }
  }
}