@import "../../utilities/variables";
@import "../../utilities/variables";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";
@import "../../utilities/effect-mixins";

.skills {
  @include adaptTo("not-mobile") {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    flex-direction: column;
    height: 100%;
  }

  &__wrapper {
    @include flex-center;
    @include adaptTo("not-mobile") {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header {
    text-align: left;
    @include font-size-subheader;
    text-transform: uppercase;
    @include adaptTo("not-mobile") {
      text-align: left;
      width: 100%;
    }
  }

  &__icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    @include adaptTo("not-mobile") {
      grid-template-columns: repeat(6, 2fr);
      grid-gap: 10px;
    }

    &-logo {
      width: clamp(40px, 50px, 60px);
    }

    @include spriteEffect;
  }

  &__languages {
    margin: 10px 0;
    color: $font-secondary;

    @include spriteEffect;
  }
}
