@import "../../utilities/fonts";
@import "../../utilities/variables";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";
@import "../../utilities/effect-mixins";

.contact {
  @include flex-center;
  flex-direction: column;
  width: 85%;
  @include adaptTo("not-mobile") {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 50px;
  flex-direction: column;
  width: 80%;
  }
  &__section {
    @include adaptTo("not-mobile") {
    @include spriteEffect;
    }
    &--header {
      @include font-size-subheader;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}
