@mixin spriteEffect {
  position: relative;
  &::after {
    content: "";
    height: 70px;
    width: 1px;
    position: absolute;
    left: -30px;
    top: 50%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, $border-sprite, transparent);
    opacity: 0;
  }

  &:hover::after {
    top: 2%;
    opacity: 1;
  }
}

@mixin spriteEffect-mid {
  position: relative;
  &::after {
    content: "";
    height: 70px;
    width: 1px;
    position: absolute;
    left: -30px;
    top: 80%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, $border-sprite, transparent);
    opacity: 0;
  }

  &:hover::after {
    top: 0%;
    opacity: 1;
  }
}
