@mixin spriteEffect($color) {
  position: relative;

  &::after {
    content: "";
    height: 70px;
    width: 2px;
    position: absolute;
    left: -30px;
    top: 50%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    opacity: 0;
    background: linear-gradient(transparent, $color, transparent);
  }

  &:hover::after {
    top: 5%;
    opacity: 1;
  }
}

@mixin spriteEffect-mid($color) {
  position: relative;

  &::after {
    content: "";
    height: 70px;
    width: 2px;
    position: absolute;
    left: -20px;
    top: 80%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    opacity: 0;
    background: linear-gradient(transparent, $color, transparent);
  }

  &:hover::after {
    top: 0%;
    opacity: 1;
  }
}

@import "../utilities/variables-dark";

.dark {
  &::after {
    @include spriteEffect($border-sprite);
  }

  &::after {
    @include spriteEffect-mid($border-sprite);
  }
}

@import "../utilities/variables-light";

.light {
  &::after {
    @include spriteEffect($border-sprite);
  }

  &::after {
    @include spriteEffect-mid($border-sprite);
  }
}
