@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin font-size-heading {
  font-size: 40px;
}

@mixin font-size-subheading {
  font-size: clamp(12px, 14px, 18px);
  @include adaptTo("not-mobile") {
    font-size: clamp(16px, 18px, 22px);
  }
}

@mixin font-size-subheader {
  font-size: clamp(14px, 16px, 18px);
  @include adaptTo("not-mobile") {
    font-size: clamp(18px, 22px, 24px);
  }
}

@mixin font-size-nav {
  font-size: clamp(14px, 16px, 18px);
}


@mixin font-size-paragraph {
  font-size: clamp(12px, 14px, 16px);
  @include adaptTo("not-mobile") {
    font-size: clamp(14px, 16px, 18px);
  }
}

@mixin font-size-disclaimer {
  font-size: 12px;
  line-height: 1rem;
}

@mixin font-size-theme {
  font-size: clamp(12px, 14px, 16px);
}

@mixin font-size-footer {
  font-size: clamp(8px, 12px, 16px);
  @include adaptTo("not-mobile") {
    font-size: clamp(10px, 14px, 16px);
  }
}
