$background-base: #ffffff;
$background-secondary: #f2f2f2;
$button-background: #0a0a0a;

// Font colors
$font-landing-name: #333333;
$font-main: #0a0a0a;
$font-mainsub: #0a0a0a;
$font-secondary: #0a0a0a;
$font-btn: #ffffff;
$font-date: #333333;
$font-link: #007BFF;
$font-error: #ff0000;

// Elements
// (No variables given for this category. Adjust if necessary.)

// Borders & Effects
$border-box1: #0a0a0a;
$border-box2: #0a0a0a;
$button-fill: #0a0a0a;
$border-sprites: #333333;
$mouse-sprite1: #007BFF;
$mouse-sprite2: #0a0a0a;

// Icon Colors
$icon-light: #555555;
