// DARK PALETTE:
// Background Colors
$background-base: #0a0a0a;

// Font colors
$font-main: #eeeeee;
$font-secondary: #eeeeee;
$font-link: #c6fc2b;

// Elements
$button-background: #b9ecff;
$button-border: #b9ecff;
$button-text: #b9ecff;
$button-text-hover: #0b0f12;

// Borders
$border-box1: #eeeeee;
$border-sprite: #c6fc2b;

//Icon Colors:
$icon_light: #a0b2bb;
