$background-base: #E0E0E0;
$background-secondary: #0042ff;
$background-textarea: #BBBBBB;
$button-background: #0042ff;

// Font colors
$font-landing-name: #1e2124;
$font-main: #1e2124;
$font-mainsub: #1e2124;
$font-secondary: #1e2124;
$font-btn: #f4f4f9;
$font-date: #0042ff;
$font-link: #0042ff;
$font-error: #ff0000;

// Elements
// (No variables given for this category. Adjust if necessary.)

// Borders & Effects
$border-box1: #1e2124;
$border-box2: #1e2124;
$button-fill: #1e2124;
$border-sprite: #0042ff;
$mouse-sprite1: #b8dbd9;
$mouse-sprite2: #0042ff;
