// DARK PALETTE:
// Background Colors
$background-base: #0a0a0a;
$background-secondary: #1e1e1e;
$button-background: #bfffc7;
// Font colors
$font-lainding-name: #bfffc7;
$font-main: #eeeeee;
$font-mainsub: #eeeeee;
$font-secondary: #eeeeee;
$font-btn: #0a0a0a;
$font-date: #bfffc7;
$font-link: #bfffc7;
$font-error: #eeeeee;

// Elements

// Borders & Effects
$border-box1: #eeeeee;
$border-sprite: #bfffc7;
$mouse-sprite1: #18a5a7;
$mouse-sprite2: #bfffc7;

//Icon Colors:
$icon_light: #a0b2bb;
