// DARK PALETTE:
// Background Colors
$background-base: #090c16;
$background-dark2: #b9ecff;

// Font colors
$font-main: #d5e3eb;
$font-secondary: #a0b2bb;
$font-white: #fff;
$font-black: #000;

// Elements
$button-background: #b9ecff;
$button-border: #b9ecff;
$button-text: #b9ecff;
$button-text-hover: #0b0f12;

// Borders
$border-box1: #b9ecff;

//Icon Colors:
$icon_light: #a0b2bb;
