@import "../../utilities/variables";
@import "../../utilities/variables";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";

.landing {
  height: 100vh;
  display: flex;
  align-items: center;

  &__menu {
    margin-left: clamp(4rem, 20vw, 48rem);

    &--items {
      color: $font-base;
      font-size: clamp(4rem, 6vw, 10rem);

      display: block;
      text-decoration: none;
      padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;

      transition: opacity 400ms ease;
    }
  }
}

// Hover effects:

.landing__menu:hover > .landing__menu--items {
  opacity: 0.3;
}

.landing__menu:hover > .landing__menu--items:hover {
  opacity: 1;
}
// menu
// menu-items
// menu-item
