@import "../../utilities/variables";
@import "../../utilities/variables";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";

.landing {
  display: flex;
  align-items: flex-start;

  @include adaptTo("not-mobile") {
    margin: 0;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 50px;
  }

  &__name {
    @include font-size-heading;
    font-weight: 300;
    color: $font-main;
    @include adaptTo("not-mobile") {
      @include font-size-heading;
      margin: 0;
    }
  }

  &__title {
    @include font-size-subheader;
    font-weight: 100;
    color: $font-main;
    margin: 0;
  }

  &__social {
    display: flex;
    justify-content: flex-start;

    &-icon {
      width: 30px;
      color: $icon_light;
      margin: 12px 12px 0 0;
    }
  }
}
