@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";

.landing {
  display: flex;
  margin-top: 40px;

  @include adaptTo("not-mobile") {
    margin: 0;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
    
    @include adaptTo("not-mobile") {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 50px 0 0 50px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__name {
    @include font-size-heading;
    font-weight: 200;
    text-align: left;
    margin: 0;
    @include adaptTo("not-mobile") {
      @include font-size-heading;
      min-width: 350px;
    }

    @include adaptTo("desktop-all") {
      @include font-size-heading;
    }
  }

  &__title {
    @include font-size-subheading;
    font-weight: 300;
    margin: 0 0 0 4px;
  }

  &__social {
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;

    &-icon {
      width: 24px;
      margin: 12px 12px 0 0;
    }
  }
}

// Dark Theme
.dark {
  @import "../../utilities/variables-dark";
  
  .landing {
    &__name {
      color: $font-landing-name;
    }
    &__title {
      color: $font-mainsub;
    }
  }
}

// Light Theme
.light {
  @import "../../utilities/variables-light";
  
  .landing {
    &__name {
      color: $font-landing-name;
    }
    &__title {
      color: $font-mainsub;
    }
    }
  }

