// Main styles and mixins
@import "../../utilities/fonts";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";

.footer {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;

  @include adaptTo("not-mobile") {
    left: 0;
    top: 0;
    margin-top: 5px;
    margin-left: 25px;

  }

  &__theme {
    display: flex;
    align-items: center;
    margin: 0 5px;
    background-color: transparent;
    cursor: pointer;


    &--toggle {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    @include font-size-theme;

      .footer__theme--checkbox {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 12px;
        height: 12px;
        cursor: pointer;
        margin-right: 5px;
      }
    }
  }
}

// Theme specific styles
@import "../../utilities/variables-light";
.light {
  .footer__theme--toggle {
    color: $font-main;

    .footer__theme--checkbox {
      border: 1px solid $border-box2;
      background-color: transparent;

      &:checked {
        background-color: $button-fill;
      }
    }
  }
}

@import "../../utilities/variables-dark";
.dark {
  .footer__theme--toggle {
    color: $font-main;

    .footer__theme--checkbox {
      border: 1px solid $border-box2;
      background-color: transparent;

      &:checked {
        background-color: $button-fill;
      }
    }
  }
}
