@import "../../utilities/fonts";
@import "../../utilities/variables";
@import "../../utilities/layout-mixins";
@import "../../utilities/effect-mixins";
@import "../../utilities/responsive-mixins";

.form-email {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  @include spriteEffect;

  &__address {
    font-size: 16px;
    font-weight: 400;
    color: $font-main;
    margin: 0 0 10px 0;
  }

  &__input {
    height: 16px;
    background-color: $background-secondary;
    border: none;
    padding: 10px;
    color: $font-main;
    font-size: 14px;
    outline: solid rgba(255, 255, 255, 0.5) 1px;
  }

  &__textarea {
    height: 250px;
    background-color: $background-secondary;
    border: none;
    margin: 20px 0 0 0;
    padding: 10px;
    color: $font-main;
    font-size: 14px;
    resize: none;
    outline: solid rgba(255, 255, 255, 0.5) 1px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__submit {
    border: none;
    background-color: $button-background;
    color: $font-btn;
    width: 25%;
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }

  &__submit:hover {
    background-color: transparent;
    color: $font-main;
    border: solid $font-main 1px;
    transition: all 0.5s ease-in-out;
  }
  
  &__input-error {
    font-style: italic;
    font-weight: 300;
    color: $font-error;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 0 0;
  }
}
