@import "../../utilities/fonts";
@import "../../utilities/variables";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";

.nav {
  position: fixed;
  right: 0;
  margin: 16px;
  @include adaptTo("not-mobile") {
    margin: 24px;
  }

  &-list {
    display: none;
    @include adaptTo("not-mobile") {
      display: flex;
      list-style-type: none;
      color: $font-base;
      font-size: 14px;
      display: flex;
      justify-content: end;
      list-style-type: none;
      gap: clamp(3rem, 4vw, 5rem);
    }

    &__link {
      color: inherit;
      text-decoration: none;
    }

    &__link:hover {
      color: $font-header1;
      cursor: pointer;
    }

    &__button {
      color: $button-text;
      text-decoration: none;
      border: solid 1px $button-border;
      padding: 8px;
      border-radius: 5px;
    }

    &__button:hover {
      color: $button-text;
      text-decoration: none;
      border: solid 1px $button-border;
      padding: 8px;
      border-radius: 5px;
      background-color: $background-dark2;
      color: $button-text-hover;
    }
  }
}

.hamburger-menu {
  display: block;
  @include adaptTo("not-mobile") {
    display: none;
  }
}

.mobile-open {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  list-style-type: none;
  color: $font-base;
  font-size: 14px;
  display: flex;
  justify-content: end;
  list-style-type: none;
  gap: clamp(2rem, 8vw, 4rem);
  padding: 36px 64px 0 0;
}
