// DARK PALETTE:
// Background Colors
$background-dark1: #353535;
$background-dark2: #342844;

// Font colors
$font-header1: #f3d88e;
$font-subtitle1: #dcdcdc;
$font-subtitle2: #9e9e9e;
$font-base: #dcdcdc;
$font-text-light: #f3d88e;
// Weights

// Borders
$border-box1: #f3d88e;
