@import "./utilities/fonts";
@import "./utilities/variables";
@import "./utilities/layout-mixins";
@import "./utilities/responsive-mixins";


.footer {
  flex-shrink: 0;
}

.App {
  @include adaptTo("not-mobile") {
    &__wrapper {
      display: flex;
      border: solid 1px $border-box1;
      width: 95vw;
      height: 90vh;
      background-image: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
      background-position: 0% 0%;
      background-size: 2vmin 2vmin;
    }

    &__left-side {
      
      @include adaptTo("not-mobile") {
        display: block;
        width: 25%;
      }

      @include adaptTo("desktop-all") {
        width: 20%;
      }
    }
  }

  &__right-side {
    @include adaptTo("not-mobile") {
      position: relative;
      width: 75%;
    }

    @include adaptTo("desktop-all") {
      width: 75%;
    }
  }
}

.card-motion-wrapper {
  @include flex-center;
  @include adaptTo("not-mobile") {
    align-items: flex-start;
    justify-content: flex-start;
  }
}