@import "./utilities/fonts";
@import "./utilities/variables";
@import "./utilities/layout-mixins";
@import "./utilities/responsive-mixins";

body {
    background-color: $background-base;
    color: $font-main;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-family: "Inter";
    font-weight: 400;
    justify-content: flex-start;
    align-items: flex-start;
    @include adaptTo("not-mobile") {
      display: flex;  
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      justify-content: center;
      align-items: center;
    }
  }