@import "../../utilities/fonts";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";
@import "../../utilities/effect-mixins";

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  @include adaptTo("not-mobile") {
    width: 95%;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
  }

  &__header {
    @include font-size-subheader;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 50px;
    width: 85%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include adaptTo("not-mobile") {
      display: grid;
      grid-template-columns: repeat(2, 1.5fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 30px 20px;
      flex-wrap: wrap;
      margin-right: 50px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    @include adaptTo("not-mobile") {
      align-items: flex-start;
      justify-content: flex-start;
      width: 95%;
    }

    &--title {
      @include font-size-subheader;
      font-weight: 700;
      margin: 0;
    }

    &--text {
      @include font-size-paragraph;
      font-weight: 400;
      line-height: 1.5rem;
      width: 85%;
    }

    &--link {
      text-decoration: none;
    }

    &--mini {
      @include font-size-paragraph;
      font-weight: 400;
      margin: 0;
      padding: 0;
      line-height: 1.5rem;
      list-style-type: none;
    }
  }

  &__mini {
    list-style-type: none;
  }
}

.techbox {
  display: flex;
  gap: 0px 10px;
  flex-wrap: wrap;
  width: 85%;

  &__item {
    width: fit-content;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 10px;
  }

  &__item:hover {
    opacity: 1;
    transition: 0.3s;
  }
}

// Dark Theme
.dark {
  @import "../../utilities/variables-dark";

  .projects {
    &__header {
      color: $font-main;
      border-bottom: solid 1px $border-box1;
    }

    &__card {
      @include adaptTo("not-mobile") {
        @include spriteEffect($border-sprite);
        }
      &--title {
        color: $font-main;
      }

      &--text, &--mini {
        color: $font-secondary;
      }

      &--link {
        color: $font-link;
      }
    }
  }

  .techbox {
    &__item {
      color: $font-btn;
      background-color: $button-background;
    }
  }
}

// Light Theme
.light {
  @import "../../utilities/variables-light";

  .projects {
    &__header {
      color: $font-main;
      border-bottom: solid 1px $border-box1;
    }

    &__card {
      @include adaptTo("not-mobile") {
        @include spriteEffect($border-sprite);
        }
      &--title {
        color: $font-main;
      }

      &--text, &--mini {
        color: $font-secondary;
      }

      &--link {
        color: $font-link;
      }
    }
  }

  .techbox {
    &__item {
      color: $font-btn;
      background-color: $button-background;
    }
  }
}
