@import "../../utilities/variables";
@import "../../utilities/variables";
@import "../../utilities/layout-mixins";
@import "../../utilities/responsive-mixins";
@import "../../utilities/effect-mixins";

.projects {
  @include adaptTo("not-mobile") {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    padding: 0;
  }

  &__header {
    @include font-size-subheader;
    text-transform: uppercase;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px 50px;
    
  }

  &__card {
    @include adaptTo("not-mobile") {

    }

    &--title {
      @include font-size-subheader;
      font-weight: 700;
      color: $font-main;
    }

    &--text {
      @include font-size-paragraph;
      color: $font-secondary;
      font-weight: 400;
      margin: 12px 0;
      line-height: 1.5rem;
    }

    &--link {
      text-decoration: none;
      color: $font-link;
    }

    @include spriteEffect;
  }
}
